.span6
  = simple_form_for(@place, :html => { :class => 'form-horizontal' }) do |f|
    = f.input :name, :label => '店名'
    = f.input :address, :label => '住所', :input_html => {:class => 'input-xlarge' }
    = f.input :description, :label => '説明', :input_html => {:class => 'input-xlarge', :rows => 5}
    = f.input :tabelog_url, :label => '食べログURL', :placeholder => 'http://tabelog.com/...', :input_html => {:class => 'input-xlarge' }
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), places_path, :class => 'btn'
.span5
  .small_map#map
