- model_class = Place
.page-header
  %h1 白百合なお店一覧

.row-fluid
  = gmaps(:map_options => {:auto_adjust => true}, :markers => {:data => @json, :options => {:rich_marker => true}})

.row-fluid
  %table.table.table-striped
    %thead
      %tr
        %th 店名
        %th 住所
        %th 
    %tbody
      - @places.each do |place|
        %tr
          %td= link_to place.name, place_path(place)
          %td= place.address
          %td
            - unless place.user.nil? or place.user.screen_name.nil?
              = image_tag(twitter_icon_url(place.user), :size => '20x20')

  - if can? :create, Place
    = link_to t('.new', :default => t("helpers.links.new")), new_place_path, :class => 'btn btn-primary'
